*{
    box-sizing: border-box;
}

.mainDiv{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.header{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 5vw;
}

.inputMovie{
    font-size: 3vw;
    margin-bottom: 5vw;
}


.movieList{
    font-size: 1vw;
    font-weight: 600;
    margin: 0vw 3vw 0vw 3vw;
    object-fit: cover;
    flex: 1;
    background-color: var(--white);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
a:link{
    
    text-decoration: none;
}
a{
    color: black;
}

img:hover{
    cursor: pointer;
}

.main-modal{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    

}

.newsmodal{
    display: flex;
    justify-content: start;
    position: fixed;
    z-index: 1;
    margin: 0vh 3vw 3vh 3vw;
    width: 95%;
    height: 99%;
    overflow: auto;
    background-color: #0a265aaa;
}

#asside{
    margin: 1vw 1vw 1vw 1vw;
    background-color: #f5f5f5;
    width: 25%;
    height: 96%;
}

#content{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 1vw 1vw 1vw 0vw;
    background-color: #f5f5f5;
    width: 75%;
    height: 96%;
    border: 5px solid black;
}
/* #close-button{
    position: absolute;
    left: 87vw;
    top: 2vw;
    background-color:#f0e68c;
    width: 1.5vw;
    height: 1.6vw;
    cursor: pointer;
    opacity: 0.40;
} */

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2vw;
    margin-top: 0.4vw;
    text-align: center;
    color: white;
}
#desks{
    height: 66%;
    width: 100%;
}
#main-buttons{
    padding: 0vw 1vw 1vw 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    border: solid black 5px;
}
#nav-buttons, #noneButton{
    display: block;
    text-align: center;
    font-family: 'Aleo';
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 1vw 1vw 1vw 1vw;
    flex: 0 0 300px;
    margin: 20px;
    cursor: pointer;
    font-size: larger;
}
#nav-buttons:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#saveBox{
    background-color: #e6e9df;
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    align-items: start;
    text-align: left;
    justify-content: start;
}
 #disclaimer{
     flex-direction: column;
     justify-content: center;
     align-content: center;
 }


 .dropmenu{
     flex-direction: column;
     font-size: 1vw;
     display: none;
     z-index: 1;
 }

 .dropdown{
    flex-direction: column;
    margin-top: 1vh;
 }

 .dropbttn:hover{
     cursor: pointer;
 }


 .posterImage{
     object-fit: cover;
     width: 10vw;
     height: 5vh;

 }
 .containerTitle{
    display:flex; 
    margin-bottom:1vw;
    flex-direction: column;
 }
.article-style{
    word-wrap: break-word;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-family: 'Aleo';
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 1vw 1vw 1vw 1vw;
    cursor: pointer;
}
.drop-title{
    color: white;
}

/* .card{
    border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  height: ;
} */

